<footer>
    <div id="footer-content">
        <ul id="footer-left">
            <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Log In / Register</a></li>
        </ul>
        <a href="" id="footer-logo">BGShop</a>
        <div id="footer-right">
            <span id="copyright">&#169; Made by FAM</span>
            <ul id="social-icons">
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-github"></i></li>
                <li><i class="fa-solid fa-envelope"></i></li>
            </ul>
        </div>
    </div>
</footer>