<header>
    <nav id="navbar-top">
        <div id="navbar-top-content">
            <ul id="navbar-left">
                <li><a href="/home" class="anchor-no-effect">
                    <img src="/images/logo/logo.png" alt="BGShop Logo" id="navbar-logo">
                </a></li>
                <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/news">News</a></li>
            </ul>
            <ul id="navbar-right">
                <li><a href=""><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
                <li><a href="">Log In / Register</a></li>
            </ul>
        </div>
    </nav>
</header>
