<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>All Designers</title>
</head>
<body>
    <h1>All Designers</h1>
    <a href="/designers/new">Make new designer</a>
    <% for (let designer of designers) { %>
        <div class="card mb-3">
            <div class="row">
                <p> <%= designer.name %> </p>
                <% if (designer.country) { %>
                    <p> <%= designer.country %> </p>
                <% } %>
                <p><a href="/designers/<%= designer.id %>">View</a></p>
            </div>
        </div>
    <% } %>
</body>
</html>