@import "../../../node_modules/bootstrap/scss/functions";

// colors

$colors: (
    text: #220203,
    background: #ffffff, background-dark: #d6d6d6,
    primary: #0b3a47,
    secondary: #4e8c31,
    accent: #faaa14,

);

// spacing
$padding-small: 0.25rem;
$padding-med: 0.5rem;
$padding-big: 1rem;

@import "../../../node_modules/bootstrap/scss/bootstrap";
