@import "../../../node_modules/bootstrap/scss/functions";

// colors
$body-bg: #FFFFFA; $white: $body-bg;
$body-color: #000103; $black: $body-color;
$body-light: #1F1F1F; $gray: $body-light;
$primary: #3C6997; $blue: $primary;
// $secondary: #7AC74F; $lightGreen: #7AC74F;
$contrast: #FFA90A; $yellow: $contrast;

// spacing
$padding-small: 0.2em;
$padding-med: 0.5em;
$padding-big: 1em;

@import "../../../node_modules/bootstrap/scss/bootstrap";
