@import "../../../node_modules/bootstrap/scss/functions";

$body-bg: #FCFFFC; $white: #FCFFFC;
$body-color: #1E1E24;

$primary: #04724D;
$secondary: #7AC74F;
$contrast: #6279B8;

@import "../../../node_modules/bootstrap/scss/bootstrap";
