@import "custom";

footer {
    background-color: map-get($colors, primary);
    width: 100%;
    padding: $padding-med 0;
    ul {
        list-style: none;
        a {
            text-decoration: none;
            color: map-get($colors, background);
        }
    }
}

#footer-content {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

#footer-left, #footer-right, #social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $padding-med 0;
    margin-bottom: 0;
}

#footer-left, #footer-right, #social-icons {
    width: 30%;
    color: map-get($colors, background);
}

#footer-logo {
   height: 2.5em;
}
