@import "custom";

.slide-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 50%; 
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%); 
    padding: 0 $padding-med;
    z-index: 5;
}

.carousel-prev, .carousel-next {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
    z-index: 99;
}

#home-carousel {
    position: relative;
    width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    background-color: $body-color;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    display: none;
    top: 0;

    img {
        margin-left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }
}

.active-slide {
    display: block; 
    z-index: 2;
}

.prev-slide {
    transform: translateX(-100%);
    display: block;
    z-index: 1;
}

.next-slide {
    transform: translateX(100%);
    display: block;
    z-index: 1;
}

.home-content-box {
    padding: $padding-big 0;
    text-align: center;
    display: flex;
    p {
        width: 30%;
        margin: 0;
    }
}

#box-1 {
    background-color: $secondary;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#box-2 {
    background-color: $primary;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

#text-separator {
    p {
        font-size: 1.5em;
        text-align: center;
    }
}

#category-section {
    background-color: $secondary;
    padding: $padding-small $padding-big;
    text-align: center;
    h4 {
        padding: $padding-med;
    }
}

#categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    .category-card {
        width: 100%;
        img {
            width: 100%;
            margin-bottom: $padding-med;
        }
        h5 {
            text-align: left;
        }
    }
}