@import "custom";

* {
    margin: 0;
    padding: 0;
}

a {
    color: $contrast;
}

main {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.btn-yellow {
    background-color: $yellow;
    padding: $padding-med;
    border: none;
    border-radius: 0.5em;
}