<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>All Publishers</title>
</head>
<body>
    <h1>All Publishers</h1>
    <% for (let publisher of publishers) { %>
        <div class="card mb-3">
            <div class="row">
                <p> <%= publisher.name %> </p>
                <% if (publisher.country) { %>
                    <p> <%= publisher.country %> </p>
                <% } %>
                <p><a href="/publishers/<%= publisher.id %>">View</a></p>
            </div>
        </div>
    <% } %>
</body>
</html>