<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Board</title>
</head>
<body>
    <ul>
        <li><a href="/boardgames">See all products</a></li>
        <li><a href="/creators">See all creators</a></li>
    </ul>
</body>
</html>