<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %>
    <title>Admin Board</title>
</head>
<body>
    <ul>
        <li><a href="/boardgames">See all products</a></li>
        <li><a href="/boardgames/new">Add new product</a></li>
    </ul>
</body>
</html>