<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>BG Shop - Home</title>
</head>
<body>
    <div class="row">
        <h1 class="text-center">Work in progress...</h1>
        <a href="/admin" class="m-3">Admin's Board</a>
    </div>
</body>
</html>