<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/css/home.css">
    <title>BG Shop - Home</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <div id="home-carousel">
            <div class="slide">
                <img src="https://picsum.photos/500/300?random=1" alt="">
            </div>
            <div class="slide">
                <img src="https://picsum.photos/500/300?random=2" alt="">
            </div>
            <div class="slide">
                <img src="https://picsum.photos/500/300?random=3" alt="">
            </div>
            <div class="slide">
                <img src="https://picsum.photos/500/300?random=4" alt="">
            </div>
            <div class="slide-buttons">
                <button class="carousel-prev">prev</button>
                <button class="carousel-next">next</button>
            </div>
        </div>
        <section class="home-content-box" id="box-1">
            <img src="https://picsum.photos/300/120?random=5" alt="">
            <h3>Title 1? Eye-catching.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellat ratione est incidunt, aliquid esse.</p>
        </section>
        <section class="home-content-box" id="box-2">
            <img src="https://picsum.photos/300/200?random=6" alt="">
            <div>
                <h3>Another title? Oh, boy.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam voluptatem expedita quis optio quaerat suscipit.</p>
            </div>
        </section>
        <section id="text-separator">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt impedit quos soluta deserunt reiciendis non dolorum, beatae temporibus! 
                Corporis, dicta.</p>
        </section>
        <section id="category-section">
            <h4>Shop by category</h4>
            <div id="categories-grid">
                <div class="category-card">
                    <img src="https://picsum.photos/300?random=7" alt="">
                    <h5>Category 1</h5>
                </div>
                <div class="category-card">
                    <img src="https://picsum.photos/300?random=8" alt="">
                    <h5>Category 2</h5>
                </div>
                <div class="category-card">
                    <img src="https://picsum.photos/300?random=9" alt="">
                    <h5>Category 3</h5>
                </div>
                <div class="category-card">
                    <img src="https://picsum.photos/300?random=10" alt="">
                    <h5>Category 4</h5>
                </div>
                <div class="category-card">
                    <img src="https://picsum.photos/300?random=11" alt="">
                    <h5>Category 5</h5>
                </div>
                <div class="category-card">
                    <img src="https://picsum.photos/300?random=12" alt="">
                    <h5>Category 6</h5>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/home.js"></script>
</body>
</html>